[Unit]
Description=Telegramm бот

[Service]
Type=simple
WorkingDirectory=/opt/tg_to_vk_transfer_posts
ExecStart=docker-compose up
Restart=always

[Install]
WantedBy=multi-user.target